* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}

.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
  background: #1b1b1b;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.navbar .menu-list {
  display: inline-flex;
}

.menu-list li a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25px;
  transition: all 0.3 ease;
}

.menu-list li a:hover {
  color: #b6b6b6;
  cursor: pointer;
}

.banner {
  height: 100vh;
  background-image: url("/img/map.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about {
  padding: 40px 0;
}

.about .title {
    font-size: 35px;
    font-weight: 700;
}

.about p {
  padding-top: 20px;
  text-align: justify;  
}

.icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.icon.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media (max-width: 790px) {
  .icon {
    display: block;
  }
  .navbar .menu-list {
    position: fixed;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    max-width: 400px;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar .menu-list.active {
    left: 0%;
  }

  .navbar .menu-list li {
    margin-top: 45px;
  }
  .navbar .menu-list li a {
    font-size: 20px;
  }
}